<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>My Blog</title>
</head>
<body style="background-color: black;" >
        <header>
            <div class="nav container">
                 <a href="{% url 'index' %}" class="logo">My <span>Blog</span></a>

                <a href="" class="login">login</a>
            </div>
        </header>

   <section class="post-header">
        <div class="header-content post-container">
                <a  href="{% url 'index' %}" class="back-home">Back to home</a>
                <h1 class="header-title">How ML & AI change lifes</h1>
                <img  src="static/image/post14.jpg" alt="">
        </div>
   </section>

        <section class="post-content post-container" >
            <h2 class="sub-heading">Choose a Smart Phone</h2>
            <p class="post-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,
                 a Latin professor at Hampden-Sydney College in Virginia, 
                 looked up one of the more obscure Latin words, consectetur, 
                 from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
            
                 <h2 class="sub-heading">Choose a Smart Phone</h2>
            <p class="post-text"> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, 
                sometimes on purpose (injected humour and the like).</p>

        </section>

        <section class="share post-container">
            <span class="share-title">Share this article</span>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
            </div>
        </section>


        <div class="footer container">
            <p>&#169; MyBlog all rights Reserved</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
            </div>
            </div>
            </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
</body>
</html>